@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --fonte-titulo: 'Sora', Arial, Helvetica, sans-serif;
    --fonte-corpo:'Sora', Arial, Helvetica, sans-serif;

    --border-radius: 15px;

    /* --cor-principal: #258ac9; */
    --cor-principal: #46a6ff;

    --azul-texto: #7bd1e3;

    --cinza-1: #171717;
    --cinza-2: #2b2b2b;
    --cinza-3: #515151;
    --cinza-4: #808080;
    --cinza-5: #bcbcbc;
}

body {
    margin: 0;
    font-family: var(--fonte-corpo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: hsla(0, 0%, 32%, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 500px;
    width: 90%;
    padding: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    color: white;
    font-size: 0.9rem;
    z-index: 5;
}

main {
    background-color: var(--cinza-2);
    color: white;
    width: 100%;
}

section {
    padding: 4rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-1);
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.conteudo {
    width: 100%;
    max-width: 1200px;
}

.botao {
    padding: 1rem 2rem;
    border: none;
    border-radius: 500px;
    color: white;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.3rem;
}
    .botao-principal {
        background-color: var(--cor-principal);
    }
    .botao-secundario {
        border: solid 1px var(--cor-principal);
    }