@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --fonte-titulo: 'Sora', Arial, Helvetica, sans-serif;
    --fonte-corpo: 'Sora', Arial, Helvetica, sans-serif;

    --border-radius: 15px;

    /* --cor-principal: #258ac9; */
    --cor-principal: #075fe4;

    --azul-texto: #7bd1e3;

    --cinza-1: #171717;
    --cinza-2: #2b2b2b;
    --cinza-3: #515151;
    --cinza-4: #808080;
    --cinza-5: #bcbcbc;

    --fundo-1: #1b1f24;
    --fundo-2: #22282f;

    --fundo-caixa: #2d343f;
    --texto: #c3cad5;
    --texto-legenda: #9ca3b1;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--fonte-corpo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: hsla(218, 20%, 38%, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 500px;
    width: 90%;
    padding: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    color: white;
    font-size: 0.9rem;
    z-index: 5;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

header img {
    height: 2rem;
}

main {
    background-color: var(--fundo-1);
    color: white;
    width: 100%;
}

section {
    padding: 6rem 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    scroll-margin-top: 40px;
    /* opacity: 0; */
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    color: white;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.conteudo {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
}

.botao {
    padding: 1rem 2rem;
    border: none;
    border-radius: 500px;
    color: white;
    font-family: var(--fonte-corpo);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.3rem;
    box-shadow:
        inset 0 2px 2px #4991fd,
        0 5px 10px hsla(213, 20%, 9%, 0.3);
}

.botao-principal {
    background-color: var(--cor-principal);
}

.botao-secundario {
    border: solid 1px var(--cor-principal);
}


.caixa {
    background-color: var(--fundo-caixa);
    border-radius: var(--border-radius);
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.botoes .botao-linkedin {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border: 1px solid var(--cor-principal);
}

.botoes .botao-linkedin i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: white;
}


/* Estilos por elemento */

#capa {
    overflow: hidden;
}

#capa .conteudo {
    padding: 2rem 0 0 0;
    text-align: center;
}

#capa .imagem {
    position: relative;
}

#capa .imagem img {
    position: relative;
    width: 60%;
    margin-bottom: 2rem;
    border: 3px solid var(--cor-principal);
    border-radius: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 1;
}

/* #capa .imagem::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220%;
    height: 220%;
    background-image: url('assets/logo-jp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
    opacity: 0.3;
} */

#capa .informacoes {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#capa h1 {
    margin: 0;
    font-size: 2rem;
}

#capa .segundo-texto {
    font-size: 1.5rem;
    font-weight: 100;
}

/* #capa .segundo-texto::after {
    content: '';
    display: inline-block;
    width: 0.2rem;
    height: 1.5rem;
    background-color: white;
    animation: piscar 1s linear infinite;
}

@keyframes piscar {
    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
} */

#capa span {
    color: var(--texto);
    margin: 1.5rem 0;
}



#sobre-mim {
    background-color: var(--fundo-2);
}

#sobre-mim .conteudo {
    align-items: flex-start;
}

#sobre-mim .informacoes {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    line-height: 1.5em;
    color: var(--texto);
}

#sobre-mim .item-lista {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#sobre-mim .item-lista i {
    color: white;
}

#sobre-mim .botao {
    margin-top: 1rem;
    gap: 1rem;
}

#sobre-mim .habilidades {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 2rem;
}

#sobre-mim .habilidades .item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0 1rem 2rem;
    border-left: 3px solid var(--cor-principal);
}

#sobre-mim .habilidades .item i {
    font-size: 1.5rem;
    color: var(--texto);
}

#sobre-mim .habilidades .item::after {
    position: absolute;
    top: 50%;
    left: calc(-0.5rem - 3px);
    transform: translateY(-50%);
    content: '';
    background-color: var(--cor-principal);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid var(--fundo-2);
}




#servicos .conteudo {
    text-align: center;
    text-wrap: balance;
}

#servicos .legenda {
    color: var(--texto);
}

#servicos .caixas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#servicos .caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

#servicos .caixa .icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--cor-principal);
    color: white;
}

#servicos .caixa span {
    line-height: 1.5em;
    color: var(--texto)
}


#habilidades {
    background-color: var(--fundo-2);
}

#habilidades .conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

#habilidades h2 {
    width: 100%;
}

#habilidades .categoria {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#habilidades .titulo {
    display: flex;
    align-items: center;
    margin: 1rem 0 0.5rem 0;
    width: 100%;
    gap: 0.5rem;
}

#habilidades .titulo h3 {
    margin: 0;
    font-weight: 400;
    margin-right: auto;
}

#habilidades .caixa {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

#habilidades .legenda {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#habilidades .legenda span {
    margin-left: auto;
}

#habilidades .caixa h4 {
    margin: 0;
    font-weight: 400;
}

#habilidades .caixa .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: var(--cor-principal);
    border-radius: 50%;
    color: white;
}

#habilidades .caixa .icon i {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

#habilidades .caixa span {
    color: var(--texto);
}

#habilidades .barra-progresso {
    width: 100%;
    height: 6px;
    background-color: #a0aabb;
    border-radius: 2px;
}

#habilidades .barra-progresso div {
    height: 100%;
    width: var(--width);
    background-color: var(--cor-principal);
    border-radius: 2px;
}



/* Projetos */
#projetos {
    background-color: var(--fundo-1);
}

#projetos .card {
    background-color: var(--fundo-caixa);
    border-radius: var(--border-radius);
    overflow: hidden;
}

#projetos .conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#projetos .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#projetos .projeto-card {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#projetos .projeto-img-placeholder {
    width: 100%;
    height: 200px;
    border-bottom: 3px solid var(--cor-principal);
    overflow: hidden;
}

#projetos .projeto-img-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projetos .projeto-info {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

#projetos .projeto-info h3 {
    margin: 0;
    font-size: 1.2rem;
}

#projetos .projeto-info span {
    color: var(--texto);
    line-height: 1.5em;
    font-size: 0.95rem;
    flex-grow: 1;
}

#projetos .botoes-projeto {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#projetos .botoes-projeto .botao {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    flex: 1;
    text-align: center;
    box-shadow: none;
}

#projetos .botoes-projeto .botao-principal {
    box-shadow: inset 0 2px 2px #4991fd, 0 5px 10px hsla(213, 20%, 9%, 0.3);
}

.carrossel-btn {
    background-color: var(--fundo-caixa);
    color: white;
    border: 2px solid var(--cor-principal);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-shrink: 0;
    z-index: 2;
    font-size: 1.2rem;
}

.carrossel-btn:hover {
    background-color: var(--cor-principal);
    transform: scale(1.1);
}

#resumo .titulo {
    display: flex;
    padding: 2rem 0;
    gap: 1.5rem;
}

#resumo .titulo i {
    font-size: 1.2rem;
    color: var(--cor-principal);
}

#resumo .titulo h3 {
    font-size: 1.4rem;
    margin: 0;
}

#resumo .linha-tempo {
    gap: 0;
    padding-left: 6px;
    margin-bottom: 1rem;
}

#resumo .linha-tempo .item {
    position: relative;
    padding: 0 0 3rem 2rem;
    border-left: 2px solid var(--cor-principal);
}

#resumo .linha-tempo .item::after {
    content: '';
    position: absolute;
    left: calc(-0.5rem - 5px);
    top: 0;
    background-color: var(--cor-principal);
    width: 1rem;
    height: 1rem;
    border: 4px solid var(--fundo-1);
    border-radius: 50%;
}

#resumo .linha-tempo .caixa {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#resumo .linha-tempo .item h4 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
}

#resumo .linha-tempo .legenda {
    color: var(--texto-legenda);
    font-size: 0.9rem;
}

#resumo .linha-tempo .item .descricao {
    color: var(--texto);
    line-height: 1.5em;
    margin-top: 0.7rem;
}



#contato {
    background-color: var(--fundo-2);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding-top: 3rem;
}

#contato .conteudo {
    padding-bottom: 2rem;
    gap: 2rem;
}

#contato h3 {
    margin: 0;
}

#contato .botoes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}



@media (min-width: 768px) {
    header {
        width: auto;
        gap: 2rem;
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }


    #capa .conteudo {
        flex-direction: row-reverse;
        gap: 6rem;
    }

    #capa .conteudo .informacoes {
        text-align: left;
    }

    #capa h1 {
        font-size: 2.5rem;
    }

    #capa h1.segundo-texto {
        font-size: 2rem;
    }

    #capa .botoes {
        justify-content: flex-start;
    }


    #sobre-mim .conteudo {
        flex-direction: row;
        justify-content: space-between;
    }

    #sobre-mim .informacoes {
        width: 50%;
    }

    #sobre-mim .habilidades {
        margin: 0;
        width: 40%;
        padding-left: 8rem;
    }

    #sobre-mim .habilidades .item {
        padding: 2rem 0 2rem 3.5rem;
    }

    #sobre-mim .habilidades .item i {
        font-size: 2rem;
    }


    #servicos .caixas {
        display: flex;
        flex-direction: row;
    }

    #servicos .caixa {
        flex: 1;
        padding: 3rem;
    }


    #habilidades .categoria {
        margin-bottom: 1.5rem;
    }

    #habilidades .caixa {
        width: 50%;
        min-width: 45%;
        flex: 1;
    }

    #projetos .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    #resumo .conteudo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 5rem;
    }

    #resumo h2 {
        width: 100%;
    }

    #resumo .experiencia {
        flex: 1;
    }


    #contato {
        background-color: inherit;
        padding-top: 1rem;
    }

    #contato .conteudo {
        background-color: var(--fundo-caixa);
        padding: 4rem;
        border-radius: var(--border-radius);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    }


    /* Animações */
    header a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: var(--cor-principal);
        transition: width 0.2s ease;
    }

    header a:hover::after {
        width: 100%;
    }

    header a:active::after {
        width: 100%;
    }


    .botao {
        position: relative;
        transition: transform 0.4s ease;
        overflow: hidden;
    }

    .botao-principal::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 150%;
        width: 3rem;
        transform: translateX(-100%) translateY(-50%) rotate(15deg);
        background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.5), transparent);
        transition: left 0.4s ease;
    }

    .botao-principal:hover::after {
        left: 140%;
    }

    .botao:hover {
        transform: scale(1.07);
    }

    .botao-principal i {
        transition: transform 0.2s ease;
    }

    .botao-principal:hover i {
        transform: translateX(5px);
    }



    .caixa {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    }

    /* .caixa:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, transparent 50%, hsla(216, 28%, 39%, 0.2) 100%);
        opacity: 0;
        transition: opacity 0.4s ease;
    } */

    .caixa:hover {
        transform: translateY(-6px);
        box-shadow: 0 18px 24px rgba(0, 0, 0, 0.12);
    }

    .caixa:hover::after {
        opacity: 1;
    }

    .caixa .icon {
        transition: transform 0.3s ease;
    }

    .caixa:hover .icon {
        transform: scale(1.1);
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

@media (width < 767px) {
    header a:last-child {
        display: none;
    }
}